Assets/Scenes/Map1.unity filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-13_13_0.bundle filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/MainMenu/Audio/BGM/WEMIDA-Tension-Horror_Weird_Scary_Anxious_Movie_Game_Score_Music.flac filter=lfs diff=lfs merge=lfs -text

ProjectSettings/CI/pre-build.sh text eol=lf
